body {
    min-width: 400px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
.box {
    height: 250px;
    aspect-ratio: 1.8 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}
button {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    font-family: "Ubuntu";
    border-radius: 7px;
    border: none;
    cursor: hover;
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.toggle-all {
    margin-left: 10px;
    border: 1px solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    background-color: transparent;
    display: none;
}

#codecademy-box {
    background-color: #fff2e4;
}
#codecademy {
    transition: .2s ease;
    border-radius: 0px;
    border: 1px solid #10162f;
    background: white;
    color: #10162f;
    font-weight: normal;
    box-shadow: 0px 0px 0px #10162f;
}
#codecademy:hover {
    transition: .2s ease;
    transform: translate(3px, -3px);
    box-shadow: -6px 6px 0px #10162f;
}

#hannahyockel-box {
    background-color: #212121;
}
#hannahyockel {
    background-color: rgba(100,77,237,0.08);
    color: rgb(125, 106, 230);
}
#hannahyockel:hover {
    background-color: rgba(100,77,237,0.16);
}


@media screen and (max-width: 600px) {
    .box {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toggle-all {
        display: block;
    }
}