body {
    background-color: #181818;
    margin: 0px;
    padding: 0px;
}
nav {
    position: fixed;
    background-color: #222222;
}
#mobile-user-detected {
    display: none;
}

@media screen and (max-width: 600px) {
    html {
        height: 100vh;
    }
    body {
        background-color: #181818;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #mobile-user-detected {
        display: block;
        color: rgb(255, 83, 83);
        font-family: "Ubuntu";
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    nav {
        display: none;
    }
    * {
        box-sizing: border-box;
    }
}